<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Action PAGE </title>
        <link rel="stylesheet" href="./action.css"> 

        <script src="https://kit.fontawesome.com/5b0c203f04.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        
    <div class="first">
        <nav>
        <ul class="navbar">
          <li><a href="#home.html">Home</a></li>
          <li><a href="#sec_far_down">Entreprises</a></li>
          <li><a href="#sec2_far_down">Devise</a></li>
        </ul>
        <button type="button">S</button>
        </nav>
    </div>
      <p1>BYB</p1>
      <div class="logo">BoostYourBusiness</div>
        <div class="search">
            <input type="search" placeholder=" Type To Search ...">
        </div>
    <div class="icon">
        <i class="fa-solid fa-magnifying-glass-dollar"></i>       
    </div>
    <h4>Afficher les actions de l'enreprise <> </h4>
    <img class="img1" src = "invst.svg">
    

</body>
</html>